build
**.egg-info
venn
.DS_Store
tests/__pycache__
__pycache__/
.idea
.coverage
docs/*.html
.ipynb_checkpoints/
.tox/
notebooks/chroma.sqlite3
dist
.env
*.sqlite
htmlcov
chroma.sqlite3
*.bin
.coverage.*
milvus.db
.milvus.db.lock

# Frontend builds and dependencies
frontends/**/node_modules/
frontends/**/static/
frontends/**/.storybook-static/
frontends/**/package-lock.json
frontends/**/.mypy_cache/
