[project]
name = "vanna"
version = "0.0.14"
authors = [
  { name="Zain Hoda", email="zain@vanna.ai" },
]
description = "Generate SQL queries from natural language"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "requests", "tabulate", "plotly", "pandas"
]

[project.urls]
"Homepage" = "https://github.com/vanna-ai/vanna-py"
"Bug Tracker" = "https://github.com/vanna-ai/vanna-py/issues"
