[data-md-color-scheme="vanna"] {
    --md-primary-fg-color:        #009efd;
    --md-primary-fg-color--light: #009efd;
    --md-primary-fg-color--dark:  #009efd;
    --md-accent-fg-color:         #009efd;
    /* --md-hue: 210;  */
}
  
  