@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@350&display=swap');

[data-md-color-scheme="vanna"] {
    --md-primary-fg-color:        #009efd;
    --md-primary-fg-color--light: #009efd;
    --md-primary-fg-color--dark:  #009efd;
    --md-accent-fg-color:         #009efd;
    /* --md-hue: 210;  */
}
  
strong {
    font-family: 'Roboto Slab', serif;
    color: transparent !important;
    background: linear-gradient(15deg, #009efd, #2af598);
    background-clip: text;
    -webkit-background-clip: text;
  }
marp-pre {
    font-family: 'Fira Code Light', monospace;
    font-size: 0.75em;
    background: #000;
    border-radius: 30px;
}

.md-nav__link {
    font-size: 0.9rem;
}

h2.doc-heading {
    border-top: 1px solid rgb(217, 217, 217);
    padding-top: 1rem;
    text-align: center;
}