name: ci 
on:
  push:
    branches:
      - main
      - update-docs-2
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@v3
        with:
          key: vanna-docs-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            vanna-docs-
      - run: pip install PyYAML
      - run: pip install nbconvert
      - run: pip install .
      - run: python docs/sidebar.py docs/sidebar.yaml docs
